body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: hsl(217, 54%, 11%);
  font-size: 18px;
  font-family: "Outfit";
  & #main {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    border-radius: 16px;

    & #fond {
      padding: 16px;
      background: hsl(216, 50%, 16%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      height: 70vh;
      border-radius: 16px;
      border: 16px solid blue;
      outline: 16px solid red;
      & #image {
        & img {
          border-radius: 8px;
          width: 100%;
        }
      }
      & #item {
        color: white;
      }
      & #description {
        color: hsl(215, 51%, 70%);
      }
      & #details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & #eth {
          display: flex;
          flex-direction: row;
          color: hsl(178, 100%, 50%);

          & #eth_text {
            padding-left: 8px;
          }
        }
        & #days {
          display: flex;
          flex-direction: row;
          color: hsl(215, 51%, 70%);
          & #days_text {
            padding-left: 8px;
          }
        }
      }
      & hr {
        background: hsl(215, 32%, 27%);
        height: 1px;
        width: 90%;
        border: none;
      }
      & #signature {
        display: flex;
        flex-direction: row;
        color: hsl(215, 51%, 70%);
        & #picture {
          display: flex;
          & img {
            width: 25px;
            height: 25px;
            border: 1px solid white;
            border-radius: 50px;
          }
        }
        & #createdby {
          display: flex;
          & a {
            color: white;
          }
        }
      }
    }
  }
  & #attribution {
    color: white;
    display: flex;
    justify-content: center;
  }
}
